<div class="intro">
    <h1>Who Am I?</h1>
    <p>I’m a student at Asheville-Buncombe Technical Community College in the Software and Web Development Program.</p> 

    <p>I’m a veteran.</p>

    <p>I’m a dog lover and an amateur gardener.</p>

    <p>I’m an idealist and I have the dogged determination to acheive my goals.</p>
</div>

<div class="heroImage"><%= image_tag("meAndTheGirls-compressor.jpg", alt: "Meghan in Iraq with little girls")%></div>
