/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    color: #444;
    font-family: GloriaHallelujah, Open-Sans, Arial, Helvetica, sans-serif;
}
.wrapper {
    background-color:  #f4f4f5;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 200px; */
}
body {
    background-color: #7b8f8d;
    margin: 0 auto;
    max-width: 1200px;
 }
 header {
     /* grid-column: span 4; */
     width: 100%;
    }
.menu {
    background-color: #444;
    height: 150px;
    text-align: right;
}
.logo {
    color:  #fefefe;
    font-family: BlackHawk;
    font-size: 100px;
    text-align: left;
}
.menu li {
    display: inline-block;
}
.menu a {
    color:  #fefefe;    
    font-size: 18px;
    font-weight: 400;
}
h1 {
    /* grid-column: 2;
    grid-row: 2; */
    text-align: center;
}
/* p {
    grid-row: 3;
} */
.intro {
    /* grid-column: 2; */
    /* grid-row: 2; */
}
.heroImage {
    /* grid-column: 2; */
    /* grid-row: 3; */
}
footer {
    background-color: #444;
    height: 75px;
}
footer p {
    color:  #fefefe;
    font-family: BlackHawk;
    font-size: 36px;

}